<div class="container-fluid">

    <h1>Login</h1>

    <div ng-show="vmlogin.message" class="alert alert-danger">
        {{vmlogin.message}}
    </div>

    <label for="username">Username</label>
    <input ng-model="username"
           id="username"
           class="form-control"
           placeholder="please enter your username"/>

    <label for="password">Password</label>
    <input ng-model="password"
           id= "password"
           type="password"
           class="form-control"
           placeholder="please enter your password"/>

    <a ng-click="vmlogin.login(username, password)"
       class="btn btn-block btn-primary">
        Login
    </a>
    <a href="#!/register"
       class="btn btn-block btn-success">
        Register
    </a>
    <a href="/auth/google" class="btn btn-danger btn-block">
        <span class="fa fa-google-plus"></span>
        Google
    </a>
</div>
