<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
            <div class="navbar-header navbar-right">
                <a class="navbar-brand col-lg-12 col-md-12 col-sm-12 col-xs-12"
                   ng-click="model.update(user.username, model.firstName, model.lastName)">
                    <span class="glyphicon glyphicon-ok pull-right" style="color:black"></span>
                </a>
            </div>
    </div>
</nav>


<div class="container-fluid">

    <label for="username">Username</label>
    <input readonly
           ng-model="model.user.username"
           value="Your Username"
           id="username"
           class="form-control"/>

    <label for="password">Password</label>
    <input id="password"
           type="password"
           class="form-control"
           placeholder="please enter your password"/>

    <label for="vpassword">Verify Password</label>
    <input id="vpassword"
           type="password"
           class="form-control"
           placeholder="please verify your password"/>

    <label>First</label>
    <input ng-model="model.user.firstName"
           class="form-control"
           placeholder="please enter your first name"/>

    <label>Last</label>
    <input ng-model="model.user.lastName"
           class="form-control"
           placeholder="please enter your last name"/>

    <label>Email</label>
    <input type="email"
           class="form-control"
           placeholder="please enter your email address"/>

    <a href="#!/user/{{model.user._id}}/website" class="btn btn-block btn-primary">Website-List</a>
    <a href="#!/login" class="btn btn-block btn-danger">Logout</a>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
