input.form-control,
textarea.form-control {
    margin-bottom: 10px;
}

body {
    margin-top: 70px;
    margin-bottom: 60px;
}

.navbar-default {
    background-color: black;
}

.navbar-default .navbar-brand {
    color: white;
}