<div ng-include="'views/common/commonHeader.view.client.html'"></div>

<div class="container-fluid">
    <label for="type">Widget Type</label>
    <select ng-model="model.widget.widgetType"id="type"class="form-control">
        <option value='HEADING'>HEADING</option>
        <option value='IMAGE'>IMAGE</option>
        <option value='HTML'>HTML</option>
        <option value='YOUTUBE'>YOUTUBE</option>
        <option value="TEXT">TEXT</option>
    </select>

    <div ng-switch="model.widget.widgetType">
        <div ng-switch-when="HEADING">
            <div ng-include src="'views/widget/templates/widget-heading-edit.view.client.html'"></div>
        </div>
        <div ng-switch-when="IMAGE">
            <div ng-include src="'views/widget/templates/widget-image-edit.view.client.html'"></div>
        </div>
        <div ng-switch-when="YOUTUBE">
            <div ng-include src="'views/widget/templates/widget-youtube-edit.view.client.html'"></div>
        </div>
        <div ng-switch-when="HTML">
            <div ng-include src="'views/widget/templates/widget-html-edit.view.client.html'"></div>
        </div>
        <div ng-switch-when="TEXT">
            <div ng-include src="'views/widget/templates/widget-text-edit.view.client.html'"></div>
        </div>
    </div>
</div>


<div ng-include="'views/common/footer.view.client.html'"></div>

