<div ng-include="'views/common/commonHeader.view.client.html'"></div>


<div class="container-fluid">
    <li class="list-group-item list-group-item-info">
        <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left pull-left"></span>
                </a>
                widget edit
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-ok pull-right pull-right"></span>
                </a>
            </div>
        </div>
    </li>

    <label for="name">Name</label>
    <input id="name"
           ng-model="model.widget.name"
           class="form-control"
           placeholder="please enter the name"/>

    <label for="text">Text</label>
    <input id="text"
           ng-model="model.widget.text"
           class="form-control"
           placeholder="please enter the text"/>

    <label for="url">URL</label>
    <input id="url"
           ng-model="model.widget.url"
           class="form-control"
           placeholder="please enter the URL"/>

    <label for="file">File Upload</label>
    <input id="file"
           multiple
           type="file"
           class="form-control"/>

    <select class="form-control">
        <option value="1">1 (XL Large)</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6 (smallest)</option>
    </select>

    <a class="btn btn-success btn-block">Upload Image</a>
    <a class="btn btn-danger btn-block" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
        Delete
    </a>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
