<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>widget-choose</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../user/login.html">
                Logout
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="../widget/widget-list.html">
                        <span class="glyphicon glyphicon-chevron-left pull-left"></span>
                    </a>
                    Choose Widget
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="../widget/widget-heading.html">
                        Header
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="../widget/widget-heading.html">
                        Lable
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="../widget/widget-heading.html">
                        HTML
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="../widget/widget-heading.html">
                        Text Input
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="../widget/widget-heading.html">
                        Link
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="../widget/widget-heading.html">
                        Button
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="../widget/widget-image.html">
                        Image
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="../widget/widget-youtube.html">
                        Youtube
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="../widget/widget-heading.html">
                        Data Table
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                    <a href="../widget/widget-heading.html">
                        Repeater
                    </a>
                </div>
            </div>
        </li>

    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-collapse">
    <div class="container-fluid">
        <div class="navbar-header navbar-right">
            <a class="navbar-brand col-lg-12 col-md-12 col-sm-12 col-xs-12" href="../user/profile.html">
                <span class="glyphicon glyphicon-user pull-right"></span>
            </a>
        </div>
    </div>
</nav>
</body>
</html>
