<!DOCTYPE html>
<html lang="en">
<head>

    <link href="../../../../assignment/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/project-style.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Title</title>
</head>

<body>

<div class="container" id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="../../../index.html">
                    Project Website
                </a>
            </li>
            <li>
                <a href="login.view.client.html">Login</a>
            </li>
            <li>
                <a href="../../../index.html">Dashboard</a>
            </li>
            <li>
                <a href="#">Search</a>
            </li>
        </ul>
    </div>

    <!-- Page -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <h1>Register</h1>

                    <label for="username">Username</label>
                    <input id="username" class="form-control" placeholder="enter your username"/>

                    <label for="password">Password</label>
                    <input id="password" type="password" class="form-control" placeholder="enter your password"/>

                    <label for="verifypassword">Verify Password</label>
                    <input id="verifypassword" type="password" class="form-control" placeholder="verify your password"/>

                    <a href="profile.view.client.html" class="btn btn-block btn-primary">Register</a>
                    <a href="login.view.client.html" class="btn btn-block btn-danger">Cancel</a>

                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>