<div ng-include="'views/common/commonHeader.view.client.html'"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 hidden-xs srollable-left">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-lg-5 col-md-8 col-sm-10 col-xs-6">
                            <a href="#!/user/{{model.userId}}/website/">
                                <span class="glyphicon glyphicon-chevron-left pull-left"></span>
                            </a>
                            Page Name
                        </div>
                        <div class="col-lg-3 visible-lg">
                            Created
                        </div>
                        <div class="col-md-2 hidden-sm  hidden-xs">
                            Updated
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                                <span class="glyphicon glyphicon-plus-sign pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <li ng-repeat="page in model.pages" class="list-group-item">
                    <div class="row">
                        <div class="col-lg-5 col-md-8 col-sm-11 col-xs-11">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                                {{page.name}}
                            </a>
                        </div>
                        <div class="col-lg-3 visible-lg">
                            {{page.created | date}}
                        </div>
                        <div class="col-md-3 hidden-sm  hidden-xs">
                            {{page.updated | date}}
                        </div>
                        <div class="col-sm-1">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <div class="col-xs-12 col-sm-8">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                                <span class="glyphicon glyphicon-chevron-left pull-left"></span>
                            </a>
                            Edit Page
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                                <span class="glyphicon glyphicon-ok pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <label for="name">Name</label>
            <input id="name"
                   ng-model="model.page.name"
                   class="form-control"/>

            <label for="description">Description</label>
            <textarea id="description"
                      ng-model="model.page.description"
                      rows="5"
                      class="form-control"></textarea>

            <a ng-click="model.updatePage(model.page)"
               class="btn btn-block btn-success">
                Update
            </a>
            <a ng-click="model.deletePage(model.page)"
               class="btn btn-block btn-danger">
                Delete
            </a>
        </div>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
